body {
 /* Set line height to 1.5 times the font size
    and use the OS’s UI font as the website font
  */
 font: 100%/1.5 system-ui;
 max-width: 100ch;
 margin-inline: auto;
 padding: 1em;
 accent-color: var(--color-accent);
 background-color: oklch(100% 0.00011 271.152);
}
html{
  background-color: oklch(100% 0.00011 271.152);
  accent-color: var(--color-accent);
}

ul {
  display: contents;
}

li{
  display: contents;
}

nav {
  display: flex;
  margin-bottom: 1em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: oklch(80% 3% 200);
  
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 3em;
}

a{
  color: inherit;
}

nav a.current {
  
  border-bottom-width:0.4em;
  border-bottom-style: solid;
  border-bottom-color: oklch(94.411% 0.00766 207.865);
  padding-bottom: 1em;
}

:root {
  --color-accent: oklch(79.837% 0.00009 271.152);
}

nav a:hover {
  color: var(--color-accent);

  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 1em;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

button {
  grid-column: 1 / -1;
}

input,
textarea,
button {
  font: inherit;
}

img{
  max-width: 100%;
}

.projects {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
}

article{
  grid-template-rows: subgrid;
  grid-row: span 3;
}

article h2{
  margin: 0;
}
h1, h2, h3, h4, h5, h6{
  line-height: 1.1;
  text-wrap: balance;
}

h1 {
  font-size: 400%;
}

section.education, section.industry, section.research{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  border-top: 1px solid oklch(80% 3% 200);
}

section.industry a, section.research a, section.education a{
  color: inherit;
  text-decoration: none;
}
section.industry a:hover, section.research a:hover, section.education a:hover{
  color: var(--color-accent);
  font-size: larger;

}